<%- include('_header.ejs', { title: 'Hobbies' }) %>

  <h1>Calculator</h1>

  <form action="calc-result" method="post">
    <div>
      <label>X:</label>
      <input type="number" name="x" />
    </div>
    <div>
      <label>Y:</label>
      <input type="number" name="y" />
    </div>
    <button type="submit">Calculate</button>
  </form>